.auth-container {
  width: 350px;
  margin: 100px auto;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 25px;
  color: #2c3e75;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-container input:focus {
  outline: none;
  border-color: #2c3e75;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #2c3e75, #d94aa8);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-container button:hover {
  opacity: 0.9;
}
.admin-container {
  padding: 40px;
}

.admin-stats {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.stat-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
}

.stat-card h3 {
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 28px;
  font-weight: bold;
  color: #2c3e75;
}

.fraud-section {
  margin-bottom: 50px;
}

.fraud-box {
  background: #ffe5e5;
  padding: 15px;
  margin-top: 10px;
  border-left: 5px solid red;
  border-radius: 8px;
}

.email-section input,
.email-section textarea {
  display: block;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.email-section button {
  padding: 10px 20px;
  background: linear-gradient(90deg,#2c3e75,#d94aa8);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}